body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 40px;
}
.color{
	color: orange;
}
.flexable{
	display: flex;
}
.singer{
	text-align: justify;
	width: 50%;
	padding-left: 5%;
}
.singer img{
	width: 80%;
	padding-top: 5%;
}
.link-button{
	text-decoration: none;
	color: white;
	background-image: linear-gradient(orange,rgb(255, 99, 71));
	padding: 10px 40px;
	font-weight: 700;
	border-radius: 5px;
	
}
.top-banar{
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
}
.dream{
	padding-right: 70px;
}
.dream-big{
	background-image: url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.Experiences{
	background-image: url(images/exp-bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.border-left-orange{
	border-left: 7px solid;
	border-image: linear-gradient(180deg, lightsalmon, tomato);
 	border-image-slice: 1;
}
.border-left-blue{
	border-left: 7px solid;
	border-image: linear-gradient( 180deg , blue, cyan);
	border-image-slice: 1;
}
.baby{
	display: flex;
}
.box-shadoew{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 10px 10px 40px gray;
}
.text-align{
	text-align: justify;
}
footer{
	text-align: center;
	padding-top: 70px;
}















