body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
h1{
	font-size: 50px;
}
.color{
	color: orange;
}
section{
	display: flex;
}
.singer{
	text-align: justify;
	width: 50%;
	padding-left: 5%;
}
.singer img{
	width: 80%;
	padding-top: 5%;
}
.link-button{
	text-decoration: none;
	color: white;
	background-image: linear-gradient(orange,rgb(255, 99, 71));
	padding: 10px 40px;
	font-weight: 700;
	border-radius: 5px;
	
}
.top-banar{
	background-image: url(image/top-banner.png);
	background-repeat: no-repeat;
}
.dream{
	padding-right: 70px;
}
.dream-big{
	background-image: url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}

















