body{
	font-family: 'Poppins', sans-serif;
}
h1{
	font-size: 50px;
}
.color{
	color: orange;
}
section{
	display: flex;
}
.singer{
	text-align: justify;
	width: 50%;
	padding-left: 5%;
}
.singer img{
	width: 80%;
	padding-top: 5%;
}